:root{

    --titulo-secindario
    --titulo-secindario: #54b1ce
    --textos: #FFFFFF;
}

*{
    margin: 7;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #54b1ce;
    color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;    
}
.cabecalho-titulo{
    color: rgb(0, 0, 0);
    font-size: 80px;  

}

.cabecalho-imagem{
    width: 7%;
}

.cabecalho-lista-item{
    display: inline;
    margin: 0 06px;
    font-size: 20px;
}

.home{
    background-image: linear-gradient( #308aa5,#15dac9b6);
    color: var(--textos);
    display:grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.home-titulo{
    padding: 29px;
    text-align: center;
}
.h2t{
    padding: 10px;
    color: var(--titulo-secindario);
    text-align: center;
}
.fototexto{
   
    text-align: center; 
    padding: 50px;   
}
.img{
    width: 600px;
}

@media screen and (max-width: 760px) {
   
    .cabecalho-titulo{
        
        font-size: 90%;
    }
    .cabecalho-lista-item{
        font-size: 80%;
    }
    .home {
        display: block;
        align-items: center;
        padding: 0px;
      
    }
    .fototexto {
        
        padding: 50px;
        text-align: center;
    }
    .img {
        width: 75vw;
        align-items: center;
        margin: 9px;
        
    }
}
